    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
		<div class="row">
			<div>
				<h3 style="text-align: center; color: #fff;" class="shadow-black">Thank You Sponsors!</h3>
				<div class="slider1">
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar1"></div>
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar2"></div>
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar3"></div>
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar4"></div>
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar5"></div>
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar6"></div>
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar7"></div>
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar8"></div>
				  <div class="slide sponsor"><img src="http://placehold.it/350x150&text=FooBar9"></div>
				</div>
			</div>
		</div>  
        <div class="row">
          <div class="medium-6 large-5 columns">
            <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>

            <p class="shadow-black">
              {{ site.description }}
              <a href="{{ site.url }}/about/">{{ site.data.language.more }}</a>
            </p>
          </div><!-- /.large-6.columns -->


          <div class="small-6 medium-3 large-3 large-offset-1 columns">
                <h5 class="shadow-black">FIRST®</h5>              
			  	<p>Copyright © 2015 The United States Foundation for Inspiration and Recognition of Science and Technology (FIRST®). Used by special permission. All rights reserved. FIRST is not overseeing, involved with, or responisble for this activity, product, or service. Check out FIRST at: <a href="/web/20141218064955/http://www.usfirst.org/">www.usfirst.org</a>.</p>
          </div><!-- /.large-4.columns -->


          <div class="small-6 medium-3 large-3 columns">
                <h5 class="shadow-black">Our School</h5>
			  <p>Plymouth Christian Academy is a non-denominational, college preparatory Christian school. Since 1976, our preschool, kindergarten, elementary, and secondary programs have provided a quality education designed to advance each student in four areas: spiritual, academic, social, and physical. Check out PCA at: <a href="/web/20141218064955/http://www.plymouthchristian.org/">www.plymouthchristian.org</a>.</p>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="b30 small-12 medium-6 columns">
            <ul class="inline-list">
              <li>Copyright &copy; 2011-2015  FRC Team 4405 The Atoms Family</li>
            </ul>
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns social-icons">
            <ul class="inline-list">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>

