<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/styles_feeling_responsive.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/slick/slick-theme.css"/>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/modernizr.min.js"></script>
	<script src="http://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<script>tinymce.init({selector:'textarea'});</script>
	
  <script>
    WebFontConfig = {
      google: { families: [ 'Lato:400,700,400italic:latin', 'Volkhov::latin' ] }
    };

    (function() {
      var wf = document.createElement('script');
      wf.src = ('http:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <noscript>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic%7cVolkhov' rel='stylesheet' type='text/css'>
  </noscript>

  {% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}" />{% endif %}
	{% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" />{% endif %}
	{% if page.meta_description %}<meta name="description" content="{{ page.meta_description | strip_html | escape }}"/>{% elsif page.teaser %}<meta name="description" content="{{ page.teaser | strip_html | escape }}"/>{% elsif site.description %}<meta name="description" content="{{ site.description | strip_html | escape }}"/>{% endif %}
	
	{% if site.google_author %}<link rel="author" href="{{ site.google_author }}"/>{% endif %}

	{% include favicon %}

	<!-- Facebook Optimization -->
	<meta property="og:locale" content="{% if site.og_locale == nil %}en_EN{% else %}{{ site.og_locale }}{% endif %}" />
	{% if site.og_type %}<meta property="og:type" content="website" />{% endif %}
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	{% if page.meta_description %}<meta property="og:description" content="{{ page.meta_description | strip_html | escape }}"/>{% elsif page.description %}<meta property="og:description" content="{{ page.description | strip_html | escape }}"/>{% elsif site.description %}<meta property="og:description" content="{{ site.description | strip_html | escape }}"/>{% endif %}
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}/{{ page.url }}" />
	{% if site.title %}<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
	{% if page.image.thumb %}<meta property="og:image" content="{{ site.urlimg }}/{{ page.image.thumb }}" />{% endif %}

	{% if site.alexa_verify_id %}<meta name="alexaVerifyID" content="{{ site.alexa_verify_id }}" />{% endif %}

	<!-- Search Engine Optimization -->
	{% if page.noindex == true %}<meta name="robots" content="noindex">{% endif %}

	<link type="text/plain" rel="author" href="{{ site.url }}{{ site.baseurl }}//humans.txt" />
	<link href="{{ site.url }}{{ site.baseurl }}/assets/css/jquery.bxslider.css" rel="stylesheet" />
	{% unless page.style == NULL %}
	<style type="text/css">{{ page.style }}</style>
	{% endunless %}
	
	<!-- CONFIGURATION -->
 
    <!-- Allow web app to be run in full-screen mode. -->
    <meta name="apple-mobile-web-app-capable"
          content="yes">
 
    <!-- Make the app title different than the page title. -->
    <meta name="apple-mobile-web-app-title"
          content="Team 4405">
 
    <!-- Configure the status bar. -->
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black">
 
    <!-- Set the viewport. -->
    <meta name="viewport"
          content="initial-scale=1">
 
    <!-- Disable automatic phone number detection. -->
    <meta name="format-detection"
          content="telephone=no">
	
</head>
