<aside>
	<div class="panel radius">
		<h3>The Atoms Family Blog</h3>
		<p>
			We hope to keep you updated on all the fun and exciting things we do in and off-season. Check back here often for cool stories! Don't forget to <a href="https://www.facebook.com/FRCteam4405">Like</a> us on Facebook and <a href="https://twitter.com/team4405">Follow</a> us on Twitter too!
		</p>
	</div>


	<div class="border-dotted radius b30">
		<h3>Do you want to be featured here!</h3>
		<p class="text-left">
			Just follow the instuctions on our <a href="/posting">Posting Instructions</a> page to learn more.
		</p>
	</div>
</aside>